# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart/Pub specific files
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# IDEs
.idea/
*.iml

# VS Code
.vscode/

# Build files
build/
android/app/debug/
android/app/profile/
android/app/release/

# iOS files
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app_snapshot.bin
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS files
macos/Flutter/ephemeral/

# Web files
web/manifest.json

# Obfuscation symbol files
app.*.symbols

# Firebase-related files
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
